Relax service app name restrictions

### What problem will this feature address?

Currently a service app name has the following restrictions:
> App name supports lowercase letters, numbers, '-' and can only start and end letters, and does not support continuous '-'

I'd like to have app names ending in a number.

According to https://github.com/Dokploy/dokploy/pull/87#issuecomment-2121747938 the app name must be a valid hostname and `test-tes-1` is not a valid hostname, but I cannot find any evidence for that.
https://datatracker.ietf.org/doc/html/rfc1912 says:
> Allowable characters in a label for a host name are only ASCII
> letters, digits, and the `-' character.  Labels may not be all
> numbers, but may have a leading digit  (e.g., 3com.com).  Labels must
> end and begin only with a letter or digit.  See [RFC 1035] and [RFC
> 1123].  (Labels were initially restricted in [RFC 1035] to start with
> a letter, and some older hosts still reportedly have problems with
> the relaxation in [RFC 1123].)  Note there are some Internet
> hostnames which violate this rule (411.org, 1776.com).  The presence
> of underscores in a label is allowed in [RFC 1033], except [RFC 1033]
> is informational only and was not defining a standard.  There is at
> least one popular TCP/IP implementation which currently refuses to
> talk to hosts named with underscores in them.  It must be noted that
> the language in [1035] is such that these rules are voluntary -- they
> are there for those who wish to minimize problems.  Note that the
> rules for Internet host names also apply to hosts and addresses used
> in SMTP (See RFC 821).

### Describe the solution you'd like

Ideally, the app name restriction matches the RFC restriction.

### Describe alternatives you've considered

Having the app name not end in a number.

### Additional context

_No response_

### Will you send a PR to implement it?

Yes, if the proposed change is approved.